$red_pokedex: #D32F2F;
$blue: #00B0FF;
$green: #2E8B57;
$yellow: #FBC02D;
$black: #212121;
$white: #F9F9F9;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokedex {
    width: 100vw;
    max-width: 420px;
    min-height: 400px;
    background-color: $red_pokedex;
    border-radius: 12px;
    overflow: hidden;

    .top {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        padding: 30px;

        svg {
            position: absolute;
            width: 100%;
            left: 50%;
            bottom: 5px;
            transform: translateX(-50%);
        }

        .circle_blue {
            background-color: $blue;
        }

        .circle, .circle_blue {
            border: 3px solid $black;
            border-radius: 50%;
            width: 70px;
            height: 70px;
        }

        .small_circles{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            padding-top: 10px;

            .circle {
                width: 16px;
                height: 16px;
                border-width: 3px;

                &:nth-child(1) {
                    background-color: $green;
                }

                &:nth-child(2) {
                    background-color: $yellow;
                }

                &:nth-child(3) {
                    background-color: $red_pokedex;
                }
            }
        }
    }
}